:root {
  --title-font: 'Roboto Slab', sans-serif;
  --header-height: 80px;
  --footer-margin-top: 120px;
  --main-border-radius: 10px;
  --font-color: rgba(255, 255, 253, 0.8);
  --font-color-bright: rgba(255, 255, 253, 1);
  --font-title-color: rgba(255, 255, 255, 0.8);
  --font-title-color-bright: rgba(255, 255, 255, 1);
  --border-color: #ffffffd9;
  --background-color: #121212;
  --highlight-color: #9acd32;
  --highlight-color-8: rgba(154, 205, 50, 0.8);
  font-family: sans-serif;
  line-height: 1.4;
  font-weight: 400;
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all; }

html {
  color-scheme: dark;
  color: var(--font-color); }

html,
body,
#root {
  height: 100%; }

* {
  box-sizing: border-box; }

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: block; }

a {
  text-decoration: none;
  color: var(--font-color); }

button {
  outline: none;
  border: none;
  padding: 0.8em 2em;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.4s; }
  button:hover {
    opacity: 1; }

h1 {
  font-family: var(--title-font);
  font-size: calc(34px - 4px);
  font-weight: 700;
  line-height: 2; }

h2 {
  font-family: var(--title-font);
  font-size: calc(34px - 8px);
  font-weight: 700;
  line-height: 2; }

h3 {
  font-family: var(--title-font);
  font-size: calc(34px - 12px);
  font-weight: 600;
  line-height: 1.5; }

h4 {
  font-family: var(--title-font);
  font-size: calc(34px - 16px);
  font-weight: 600;
  line-height: 1.5; }

h5 {
  font-family: var(--title-font);
  font-size: calc(34px - 20px);
  font-weight: 600;
  line-height: 1.5; }

h6 {
  font-family: var(--title-font);
  font-size: calc(34px - 24px);
  font-weight: 600;
  line-height: 1.5; }

p,
li {
  line-height: 1.4; }

::selection {
  background-color: var(--highlight-color-8); }

.date {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px; }

.icon {
  font-size: 16px;
  cursor: pointer; }

.card {
  opacity: 0.9;
  transition: opacity 0.4s;
  color: var(--font-title-color);
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.7);
  height: 350px; }
  .card:hover {
    opacity: 1; }
  .card:hover {
    box-shadow: 0 0 2px 0 white; }
  .card header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color); }
    .card header h3 {
      font-family: var(--title-font);
      font-size: 22px;
      font-weight: 700; }
  .card p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    padding: 5px 0 0;
    font-size: 16px;
    font-weight: 400; }

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2); }
  .loading-indicator::before {
    content: '';
    display: block;
    border: 10px solid transparent;
    border-top-color: var(--border-color);
    border-right-color: var(--border-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    animation: loading 1s ease-in-out infinite; }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 30px;
  row-gap: 30px; }

header.navigation {
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height); }
  header.navigation a {
    display: flex;
    align-items: center;
    font-family: var(--title-font);
    gap: 10px; }
    header.navigation a img {
      width: 24px; }
    header.navigation a h1 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0.8;
      transition: opacity 0.4s; }
      header.navigation a h1:hover {
        opacity: 1; }
    header.navigation a:hover h1 {
      color: #fff; }
    header.navigation a.codepen {
      position: relative; }
      header.navigation a.codepen img {
        opacity: 0.4;
        transition: opacity 0.4s; }
        header.navigation a.codepen img:hover {
          opacity: 1; }
  header.navigation .icons {
    display: flex;
    gap: 10px;
    align-items: center; }
    header.navigation .icons .icon {
      margin-left: 10px;
      font-size: 25px;
      opacity: 0.4;
      transition: opacity 0.4s; }
      header.navigation .icons .icon:hover {
        opacity: 1; }
    header.navigation .icons svg {
      width: 25px;
      border-radius: 50%;
      opacity: 0.4;
      transition: opacity 0.4s; }
      header.navigation .icons svg:hover {
        opacity: 1; }

main {
  max-width: 88%;
  margin: 0 auto;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.prologue-posts {
  margin-top: 20px;
  margin-bottom: 16px;
  border-radius: var(--main-border-radius);
  padding: 0 5px; }
  .prologue-posts .header {
    font-family: var(--title-font);
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    line-height: 2; }

.error {
  width: 30vw;
  height: 20vh;
  margin: 0 auto;
  margin-top: 15vh;
  background-color: rgba(255, 192, 203, 0.6);
  text-align: center;
  overflow: hidden; }
  .error p {
    padding: 8px;
    margin-top: 10px;
    line-height: 1.4; }

.post-page {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-start; }
  .post-page nav {
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    padding: 30px 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    transition: 0.4s; }
    .post-page nav section {
      line-height: 1.3;
      display: flex;
      flex-direction: column;
      gap: 15px; }
      .post-page nav section article ul li a {
        opacity: 0.8;
        transition: opacity 0.4s; }
        .post-page nav section article ul li a:hover {
          opacity: 1; }
        .post-page nav section article ul li a.active {
          color: var(--highlight-color);
          opacity: 1; }
    @media (max-width: calc($nav-width + $contents-width + $aside-width + 150px)) {
      .post-page nav {
        transform: translate(-50px, 0);
        opacity: 0;
        visibility: hidden;
        flex-shrink: 1; } }
  .post-page .post {
    flex-grow: 1;
    max-width: var(--contents-width);
    padding: 20px calc(var(--spacing) * 6); }
    @media (max-width: 770px) {
      .post-page .post {
        --title-font-size: 35px;
        --contents-width: 350px;
        --spacing: 1px; } }
    .post-page .post h1.title {
      font-size: var(--title-font-size);
      color: var(--font-title-color-bright);
      line-height: 1.5; }
    .post-page .post .contents h1 {
      margin-top: calc(40px - 5px); }
    .post-page .post .contents h2 {
      margin-top: calc(40px - 10px); }
    .post-page .post .contents h3 {
      margin-top: calc(40px - 15px); }
    .post-page .post .contents h4 {
      margin-top: calc(40px - 20px); }
    .post-page .post .contents h5 {
      margin-top: calc(40px - 25px); }
    .post-page .post .contents ul {
      list-style-image: none;
      list-style-position: inside;
      list-style-type: revert;
      padding: 2px 8px; }
      .post-page .post .contents ul li {
        padding: 2px 0; }
    .post-page .post .contents pre {
      max-width: 100%;
      margin: 10px 0; }
      .post-page .post .contents pre code {
        line-height: 1.4; }
    .post-page .post .contents p {
      white-space: pre-wrap; }
  .post-page aside {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 20px 20px;
    flex-shrink: 0;
    position: sticky;
    top: 10px;
    left: 0;
    width: 200px;
    transition: 0.4s; }
    .post-page aside h4 {
      line-height: 1.2;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    .post-page aside ul li {
      display: flex;
      align-items: center;
      gap: 8px; }
      .post-page aside ul li.heading-1 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        text-indent: calc(5px *0);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .post-page aside ul li.heading-2 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        text-indent: calc(5px *1);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .post-page aside ul li.heading-3 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        text-indent: calc(5px *2);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .post-page aside ul li.heading-4 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        text-indent: calc(5px *3);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .post-page aside ul li.heading-5 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        text-indent: calc(5px *4);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .post-page aside ul li.heading-6 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        text-indent: calc(5px *5);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .post-page aside ul li::before {
        content: '';
        display: block;
        height: 10px;
        box-sizing: border-box;
        border: 3px solid var(--highlight-color);
        transition: opacity 0.4s;
        opacity: 0; }
      .post-page aside ul li.visible::before {
        opacity: 1; }
      .post-page aside ul li a {
        opacity: 0.8;
        transition: opacity 0.4s; }
        .post-page aside ul li a:hover {
          opacity: 1; }
    @media (max-width: calc($contents-width + $aside-width + 150px)) {
      .post-page aside {
        transform: translate(100px, 0);
        opacity: 0;
        visibility: hidden; } }

footer {
  max-width: 88%;
  margin: 0 auto;
  margin-top: var(--footer-margin-top);
  padding-bottom: 10px;
  border-top: 1px solid;
  flex-shrink: 0; }
  footer p {
    margin-top: 20px;
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 400;
    text-align: center; }
