html {
  --app-max-width: 1600px;
  --header-height: 120px;
  width: 100%;

  &.toggled {
    overflow-y: hidden;
  }
}
body {
  margin: 0;
  width: 100%;

  --view-port-width: 100vw;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
figure,
p {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
.clickable {
  cursor: pointer;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

@mixin media_large_style {
  @media (max-width: 1600px) {
    --app-max-width: 1200px;
    @content;
  }
}
@mixin media_medium_style {
  @media (max-width: 1200px) {
    --app-max-width: calc(var(--view-port-width) - 20px);
    @content;
  }
}
@mixin media_small_style {
  @media (max-width: 400px) {
    --app-max-width: var(--view-port-width);
    @content;
  }
}
@mixin absolute($top: 0, $left: 0, $bottom: skip, $right: skip) {
  position: absolute;
  @if $top != skip {
    top: $top;
  }
  @if $left != skip {
    left: $left;
  }
  @if $bottom != skip {
    bottom: $bottom;
  }
  @if $right != skip {
    right: $right;
  }
}

#root {
  width: var(--app-max-width);
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  @include media_large_style;
  @include media_medium_style;
  @include media_small_style;
}

.header {
  width: var(--app-max-width);
  height: var(--header-height);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 9;

  background-color: royalblue;
}

.main {
  flex-grow: 1;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid yellowgreen;
  text-align: center;
  flex-shrink: 0;
}

// post
.post {
  --post-area-width: var(--app-max-width);
  --post-nav-width: calc(var(--post-area-width) * 0.2);
  --post-article-width: calc(var(--post-area-width) * 0.6);
  --post-aside-width: calc(var(--post-area-width) * 0.2);

  display: flex;

  &-article {
    width: var(--post-article-width);
    background-color: green;
    flex-grow: 1;
  }
}

.post-nav,
.post-aside {
  position: relative;
  flex-shrink: 0;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

    opacity: 0;
    visibility: hidden;
    display: none;
    @include media_medium_style {
      display: block;
    }
  }

  &__menu {
    position: fixed;
    top: var(--header-height);
  }
  &__scroll {
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
  }
  &__toggler {
    width: 30px;
    height: 30px;
    display: none;
    @include media_medium_style {
      display: block;
    }
  }
}

.post-nav {
  $n: &;
  width: var(--post-nav-width);
  background-color: blue;

  &__bg {
    #{$n}.toggled & {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &__menu {
    width: var(--post-nav-width);
    background-color: aquamarine;

    @include media_medium_style {
      width: calc(var(--post-area-width) * 0.5);
      transform: translate(-100%);

      #{$n}.toggled & {
        transform: translate(0);
      }
    }
  }

  &__toggler {
    @include absolute(0, skip, skip, -30px);
    background-color: red;
  }

  &.toggled {
    z-index: 2;
  }
}

.post-aside {
  $a: &;
  width: var(--post-aside-width);
  background-color: orange;

  &__bg {
    #{$a}.toggled & {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &__menu {
    width: var(--post-aside-width);
    background-color: pink;

    @include media_medium_style {
      width: calc(var(--post-area-width) * 0.5);
      transform: translate(var(--post-aside-width));

      #{$a}.toggled & {
        transform: translate(calc(var(--post-aside-width) - 100%));
      }
    }
  }

  &__toggler {
    @include absolute(0, -30px, skip, skip);
    background-color: red;
  }

  &.toggled {
    z-index: 1;
  }
}

// prologue

.hero {
  margin-top: 100px;
  margin-bottom: 100px;

  background-color: orange;

  display: flex;
  position: relative;

  @include media_small_style {
    flex-direction: column;
  }

  &-img {
    display: block;
    width: calc(var(--app-max-width) * 0.6);
    object-fit: cover;

    @include media_small_style {
      width: var(--app-max-width);
    }
  }

  $c: '#{&}-caption';

  #{$c} {
    position: relative;
    width: calc(var(--app-max-width) * 0.4);
    padding-left: 10px;

    @include media_small_style {
      width: var(--app-max-width);
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }

    #{$c}__title {
      height: 50%;
      position: relative;
      @include media_small_style {
        height: 80px;
      }
    }
    #{$c}__title-text {
      position: absolute;
      top: -48px;
      left: -48px;
      line-height: 1;
      font-size: calc(var(--app-max-width) * 0.1);
      margin: 0;

      @include media_medium_style {
        top: -24px;
        left: -24px;
      }
      @include media_small_style {
        top: -36px;
        left: 0;
        font-size: 60px;
      }
    }
    #{$c}__article {
      height: 50%;
      position: relative;
      @include media_small_style {
        margin-top: 20px;
        height: 50px;
      }
    }
    #{$c}__description {
      position: absolute;
      bottom: 0;
      font-size: calc(var(--app-max-width) * 0.02);

      @include media_small_style {
        font-size: 12px;
      }
    }
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  &-card {
    min-height: 300px;

    &__image {
      width: 100%;
      object-fit: contain;
      border: 1px solid gray; 
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__date {
      display: flex;
      align-items: center;
      gap: 5px;
    
      border-bottom: 1px solid gray;
      margin-bottom: 24px;
    }
  }
}

// header
.header {
  $h: &;
  display: flex;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    height: 100%;
    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: blue;
    }
    &__title {
      font-size: 32px;
      font-weight: 700;
    }
  }

  &-right {
    height: 100%;
    &__menu-bg {
      #{$h}.toggled & {
        @debug '#{&}';
        position: fixed;
        top: var(--header-height);
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 10px;

      #{$h}.toggled & {
        display: flex;
        position: fixed;
        top: var(--header-height);
        left: 0;
        flex-direction: column;
        width: 100vw;

        li {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid gray;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 0;
          margin-right: 0;
        }
      }

      li {
        margin-left: 5px;
        margin-right: 5px;
      }

      @include media_small_style {
        display: none;
      }
    }

    &__menu-toggler {
      display: none;
      height: 100%;
      margin-right: 5px;

      @include media_small_style {
        display: flex;
        align-items: center;
      }
    }
  }
}
