html {
  --app-max-width: 1200px;
  --header-height: 120px;
  --highlight-color: #9acd32;
  --main-text-color: #fffffdcc;
  --background-color: #121212;
  --view-port-width: 100vw;

  width: 100%;
  font-family: 'Roboto Slab', 'Nanum Gothic', sans-serif;
}
body {
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  &.toggled {
    overflow-y: hidden;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
figure,
p {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}

@mixin media_large_style {
  @media (max-width: 1200px) {
    --app-max-width: 800px;
    @content;
  }
}
@mixin media_medium_style {
  @media (max-width: 800px) {
    --app-max-width: calc(var(--view-port-width) * 0.88 - 20px);
    @content;
  }
}
@mixin media_small_style {
  @media (max-width: 400px) {
    --app-max-width: calc(var(--view-port-width) * 0.88);
    @content;
  }
}
@mixin absolute($top: 0, $left: 0, $bottom: skip, $right: skip) {
  position: absolute;
  @if $top != skip {
    top: $top;
  }
  @if $left != skip {
    left: $left;
  }
  @if $bottom != skip {
    bottom: $bottom;
  }
  @if $right != skip {
    right: $right;
  }
}
@mixin brightenOnHover($dark: 0.8) {
  cursor: pointer;
  opacity: $dark;
  &:hover {
    opacity: 1;
  }
}

#root {
  width: var(--app-max-width);
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  @include media_large_style;
  @include media_medium_style;
  @include media_small_style;
}

.header {
  width: var(--app-max-width);
  height: var(--header-height);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 9;

  text-transform: capitalize;
  background-color: #121212;
}

.main {
  flex-grow: 1;
  background-color: white;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid yellowgreen;
  text-align: center;
  flex-shrink: 0;
}

// article
.article {
  --article-area-width: var(--app-max-width);
  --article-nav-width: calc(var(--article-area-width) * 0.2);
  --article-article-width: calc(var(--article-area-width) * 0.6);
  --article-aside-width: calc(var(--article-area-width) * 0.2);

  display: flex;

  &-article {
    width: var(--article-article-width);
    background-color: green;
    flex-grow: 1;
  }
}

.article-nav,
.article-aside {
  position: relative;
  flex-shrink: 0;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

    opacity: 0;
    visibility: hidden;
    display: none;
    @include media_medium_style {
      display: block;
    }
  }

  &__menu {
    position: fixed;
    top: var(--header-height);
  }
  &__scroll {
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
  }
  &__toggler {
    width: 30px;
    height: 30px;
    display: none;
    @include media_medium_style {
      display: block;
    }
  }
}

.article-nav {
  $n: &;
  width: var(--article-nav-width);
  background-color: blue;

  &__bg {
    #{$n}.toggled & {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &__menu {
    width: var(--article-nav-width);
    background-color: aquamarine;

    @include media_medium_style {
      width: calc(var(--article-area-width) * 0.5);
      transform: translate(-100%);

      #{$n}.toggled & {
        transform: translate(0);
      }
    }
  }

  &__toggler {
    @include absolute(0, skip, skip, -30px);
    background-color: red;
  }

  &.toggled {
    z-index: 2;
  }
}

.article-aside {
  $a: &;
  width: var(--article-aside-width);
  background-color: orange;

  &__bg {
    #{$a}.toggled & {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &__menu {
    width: var(--article-aside-width);
    background-color: pink;

    @include media_medium_style {
      width: calc(var(--article-area-width) * 0.5);
      transform: translate(var(--article-aside-width));

      #{$a}.toggled & {
        transform: translate(calc(var(--article-aside-width) - 100%));
      }
    }
  }

  &__toggler {
    @include absolute(0, -30px, skip, skip);
    background-color: red;
  }

  &.toggled {
    z-index: 1;
  }
}

// prologue

.hero {
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  position: relative;

  @include media_medium_style {
    flex-direction: column;
  }

  &-img {
    display: block;
    width: calc(var(--app-max-width) * 0.6);
    object-fit: cover;

    @include media_medium_style {
      width: var(--app-max-width);
    }
  }

  $c: '#{&}-caption';

  #{$c} {
    position: relative;
    width: calc(var(--app-max-width) * 0.4);
    padding-left: 10px;

    @include media_medium_style {
      width: var(--app-max-width);
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }

    #{$c}__title {
      height: 50%;
      position: relative;
      @include media_medium_style {
        height: 80px;
      }
    }
    #{$c}__title-text {
      position: absolute;
      top: -64px;
      left: -96px;
      line-height: 1;
      font-size: calc(var(--app-max-width) * 0.1);
      color: var(--highlight-color);
      font-family: 'Roboto Slab';
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      span {
        display: block;
        text-indent: 0.6em;
      }
      @include media_medium_style {
        top: -36px;
        left: 0;
        font-size: 60px;
      }
    }
    #{$c}__article {
      height: 50%;
      position: relative;
      @include media_medium_style {
        margin-top: 20px;
        height: 50px;
      }
    }
    #{$c}__description {
      position: absolute;
      top: 0;
      font-size: calc(var(--app-max-width) * 0.02);
      color: var(--main-text-color);
      line-height: 1.4;

      @include media_medium_style {
        font-size: 16px;
      }
    }
  }
}

.posts {
  display: grid;
  max-width: var(--app-max-width);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  &-card {
    min-height: 400px;
    @include brightenOnHover(0.7);

    &__image {
      display: block;
      width: 100%;
      object-fit: contain;
      border: 1px solid gray;
      box-sizing: border-box;
      margin-bottom: 12px;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__date {
      display: flex;
      align-items: center;
      gap: 5px;

      border-bottom: 1px solid gray;
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
    &__summary {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

// header
.header {
  $h: &;
  display: flex;
  justify-content: space-between;
  color: var(--main-text-color);

  &-left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    height: 100%;
    @include brightenOnHover(0.9);

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: royalblue;
      opacity: 0.8;
      @include media_small_style {
        width: 25px;
        height: 25px;
      }
    }
    &__title {
      font-size: 32px;
      font-weight: 700;

      @include media_small_style {
        font-size: 24px;
      }
    }
  }

  &-right {
    height: 100%;
    &__menu-bg {
      position: fixed;
      top: var(--header-height);
      left: 0;
      right: 0;

      height: 0;
      opacity: 0;
      visibility: hidden;
      background-color: var(--background-color);

      transition: 0.4s;
      #{$h}.toggled & {
        height: 100%;
        opacity: 1;
        visibility: visible;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 10px;

      #{$h}.toggled & {
        display: flex;
        position: fixed;
        top: var(--header-height);
        left: 0;
        flex-direction: column;
        width: 100vw;

        li {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid gray;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 0;
          margin-right: 0;
        }
      }

      li {
        margin-left: 5px;
        margin-right: 5px;

        a {
          opacity: 0.6;
          cursor: pointer;
          &.active {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }

      @include media_small_style {
        display: none;
      }
    }

    &__menu-toggler {
      display: none;
      height: 100%;
      margin-right: 5px;

      @include media_small_style {
        display: flex;
        align-items: center;
      }
    }
  }
}
