html,
body,
#root {
  height: 100%;
}
html {
  --app-max-width: 1200px;
  --header-height: 120px;
  --highlight-color: #9acd32;
  // --main-text-color: #fffffdcc;
  --main-text-color: #f0f6fc;
  --background-color: #121212;
  // --background-color: #0d1117;
  --view-port-width: 100vw;
  --footer-margin-top: 50px;

  width: 100%;
  font-family: 'Roboto Slab', 'Nanum Gothic', sans-serif;
  color: var(--main-text-color);
  color-scheme: dark;
  ::-moz-selection {
    background: #808080;
  }
  ::selection {
    background: #808080;
  }
  word-break: break-all;
  overflow-wrap: break-word;
}
body {
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  &.toggled {
    overflow-y: hidden;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
figure,
p {
  margin: 0;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}

@mixin media_large_style {
  @media (max-width: 1200px) {
    --app-max-width: 800px;
    @content;
  }
}
@mixin media_medium_style {
  @media (max-width: 800px) {
    // --app-max-width: calc(var(--view-port-width) - 20px);
    --app-max-width: calc(var(--view-port-width));
    @content;
  }
}
@mixin media_small_style {
  @media (max-width: 400px) {
    --app-max-width: calc(var(--view-port-width));
    @content;
  }
}
@mixin absolute($top: 0, $left: 0, $bottom: skip, $right: skip) {
  position: absolute;
  @if $top != skip {
    top: $top;
  }
  @if $left != skip {
    left: $left;
  }
  @if $bottom != skip {
    bottom: $bottom;
  }
  @if $right != skip {
    right: $right;
  }
}
@mixin brightenOnHover($dark: 0.8) {
  cursor: pointer;
  opacity: $dark;
  &:hover {
    opacity: 1;
  }
}

#root {
  width: var(--app-max-width);
  min-height: 100vh;
  height: calc(100% - var(--header-height));
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  @include media_large_style;
  @include media_medium_style;
  @include media_small_style;
}
* {
  box-sizing: border-box;
}

.header {
  width: var(--app-max-width);
  height: var(--header-height);
  flex-shrink: 0;
  position: fixed;
  top: 0;
  z-index: 9;

  text-transform: capitalize;
  background-color: #121212;
}

.main {
  flex-grow: 1;
  margin-top: var(--header-height);
}

.footer {
  margin-top: var(--footer-margin-top);
  border-top: 1px solid yellowgreen;
  text-align: center;
  flex-shrink: 0;
}

// article
.article {
  --article-area-width: var(--app-max-width);
  --article-nav-width: calc(var(--article-area-width) * 0.2);
  --article-article-width: calc(var(--article-area-width) * 0.6);
  --article-aside-width: calc(var(--article-area-width) * 0.2);

  display: flex;

  &-article {
    width: var(--article-article-width);
    margin: 0 auto;

    &__title {
      font-size: 32px;
      font-weight: 700;
      color: var(--highlight-color);
      text-align: center;
      margin-bottom: 30px;
      word-break: break-all;
    }
    &__bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      height: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid royalblue;

      &__date {
        display: flex;
        align-items: center;
        height: 100%;
      }
      &__edit {
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }

    &__title-image {
      width: 100%;
      object-fit: contain;
    }

    &__contents {
      width: 95%;
      margin: 0 auto;
      @mixin margin-y($v: 16px) {
        margin-top: $v;
        margin-bottom: $v;
      }

      p,
      pre {
        @include margin-y;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &.active {
          color: var(--highlight-color);
        }
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 8px;
        border-bottom: 1px solid #3d444db3;
        @include margin-y(24px);
      }
      h3 {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 8px;
        @include margin-y(24px);
      }
      p {
        line-height: 1.4;
      }
      a {
        text-decoration: underline;
      }
      ul {
        list-style: disc inside none;
        margin-left: 1em;
        line-height: 1.7;
      }
      code {
        border-radius: 5px;
        background-color: #151b23;
        line-height: 1.5;
        &.language-plaintext {
          padding: 0 4px 0 4px;
        }
      }

      &__message-box {
        $spacing: 3em;

        width: 95%;
        margin: 20px auto;

        position: relative;

        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        border-radius: 5px;
        padding: 1em 3em 1em $spacing;

        &::before {
          $width: 24px;
          content: '';
          display: block;
          width: $width;
          height: 24px;
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
          position: absolute;
          left: calc($spacing / 2 - ($width / 2));
          top: 1em;
        }

        &.info {
          $icon-url: url('https://raw.githubusercontent.com/google/material-design-icons/9beae745bb758f3ad56654fb377ea5cf62be4915/src/action/info/materialicons/24px.svg');
          $border-color: #007936;
          box-shadow: 0 0 2px 1px $border-color;
          &::before {
            mask-image: $icon-url;
            background-color: $border-color;
          }
        }

        &.warning {
          $icon-url: url('https://raw.githubusercontent.com/google/material-design-icons/9beae745bb758f3ad56654fb377ea5cf62be4915/src/alert/warning/materialicons/24px.svg');
          $border-color: #e86e30;
          box-shadow: 0 0 2px 1px $border-color;
          &::before {
            mask-image: $icon-url;
            background-color: $border-color;
          }
        }

        &__message-title {
          margin: 4px 0;
          font-size: 16px;
        }

        &__message-contents {
          display: flex;
          flex-direction: column;
          gap: 4px;
          align-items: flex-start;

          a {
            color: #121212;
          }

          pre {
            white-space: pre-wrap;
          }

          p {
            margin: 1em 0;
          }
        }
      }

      table {
        margin: 24px 0;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 60px;
        tr {
          &:nth-child(2n) {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
        th,
        td {
          border: 1px solid #333333;
          padding: 5px;

          vertical-align: middle;
        }
        th {
          font-weight: 600;
          background-color: #281b10;
        }
        td {
          &:first-child {
            word-break: break-all;
          }
          line-height: 2;
          code.hljs {
            padding: 0;
          }
        }
      }
    }
  }
}

.article-nav,
.article-aside {
  position: sticky;
  flex-shrink: 0;
  height: calc(100vh - var(--header-height));
  @include media_medium_style {
    position: fixed;
  }
  top: var(--header-height);

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);

    opacity: 0;
    visibility: hidden;
    display: none;
    @include media_medium_style {
      display: block;
    }
  }

  &__menu {
    background-color: var(--background-color);
    transition: 0.4s;
  }
  &__scroll {
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
    border-top: 1px solid #494949;

    @include media_medium_style {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__toggler {
    display: none;
    background-color: var(--background-color);
    cursor: pointer;
    border: 1px solid #494949;
    @include media_medium_style {
      display: block;
    }
  }
}

.article-nav {
  $n: &;
  width: var(--article-nav-width);

  &__bg {
    #{$n}.toggled & {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &__menu {
    width: var(--article-nav-width);

    @include media_medium_style {
      width: calc(var(--article-area-width) * 0.7);
      transform: translate(-100%);

      #{$n}.toggled & {
        transform: translate(0);
      }
    }
  }

  &__scroll {
    @include media_medium_style {
      #{$n}.toggled & {
        opacity: 1;
        visibility: visible;
      }
    }
    &__nav-item {
      margin-bottom: 10px;
      &__category {
        font-weight: 700;
      }
      &__articles {
        &__item {
          margin: 7px 0;
          a.active {
            color: var(--highlight-color);
          }
        }
      }
    }
  }

  &__toggler {
    @include absolute(0, skip, skip, -1em);
    border-bottom-right-radius: 10px;
  }

  &.toggled {
    z-index: 2;
  }
}

.article-aside {
  $a: &;
  width: var(--article-aside-width);
  right: 0;

  &__bg {
    #{$a}.toggled & {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &__menu {
    width: var(--article-aside-width);

    @include media_medium_style {
      width: calc(var(--article-area-width) * 0.7);
      transform: translate(var(--article-aside-width));

      #{$a}.toggled & {
        transform: translate(calc(var(--article-aside-width) - 100%));
      }
    }
  }

  &__toggler {
    @include absolute(0, -1em, skip, skip);
    border-bottom-left-radius: 10px;
  }

  &__scroll {
    padding-left: 1em;
    @include media_medium_style {
      #{$a}.toggled & {
        opacity: 1;
        visibility: visible;
      }
    }

    @for $i from 0 to 6 {
      &__heading-#{$i} {
        margin-top: 3px;
        margin-bottom: 3px;

        text-indent: calc($i * 5px);
        position: relative;
        padding-left: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        transition: opacity 0.6s;
        @include brightenOnHover;

        &.selected {
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            padding-top: 2px;
            padding-bottom: 2px;
            background-color: var(--highlight-color);
          }
        }
      }
    }
  }

  &.toggled {
    z-index: 1;
  }
}

// prologue

.hero {
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  position: relative;

  @include media_medium_style {
    flex-direction: column;
  }

  &-img {
    width: calc(var(--app-max-width) * 0.6);
    object-fit: cover;

    @include media_medium_style {
      width: var(--app-max-width);
    }
  }

  $c: '#{&}-caption';

  #{$c} {
    position: relative;
    width: calc(var(--app-max-width) * 0.4);
    padding-left: 10px;

    @include media_medium_style {
      width: var(--app-max-width);
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }

    #{$c}__title {
      height: 50%;
      position: relative;
      @include media_medium_style {
        height: 80px;
      }
    }
    #{$c}__title-text {
      position: absolute;
      top: -64px;
      left: -96px;
      line-height: 1;
      font-size: calc(var(--app-max-width) * 0.1);
      color: var(--highlight-color);
      font-family: 'Roboto Slab';
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      span {
        display: block;
        text-indent: 0.6em;
      }
      @include media_medium_style {
        top: -36px;
        left: 0;
        font-size: 60px;
      }
    }
    #{$c}__article {
      height: 50%;
      position: relative;
      @include media_medium_style {
        margin-top: 20px;
        height: 50px;
      }
    }
    #{$c}__description {
      position: absolute;
      top: 0;
      font-size: calc(var(--app-max-width) * 0.02);
      color: var(--main-text-color);
      line-height: 1.4;

      @include media_medium_style {
        font-size: 16px;
      }
    }
  }
}

.posts,
.snippets {
  display: grid;
  max-width: var(--app-max-width);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.posts {
  &-card {
    min-height: 400px;
    @include brightenOnHover(0.7);

    &__image {
      width: 100%;
      object-fit: contain;
      border: 1px solid gray;
      margin-bottom: 12px;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__date {
      display: flex;
      align-items: center;
      gap: 5px;

      border-bottom: 1px solid gray;
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
    &__summary {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
}

// header
.header {
  $h: &;
  display: flex;
  justify-content: space-between;
  color: var(--main-text-color);

  &-left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    height: 100%;
    @include brightenOnHover(0.9);

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: royalblue;
      opacity: 0.8;
      @include media_small_style {
        width: 25px;
        height: 25px;
      }
    }
    &__title {
      font-size: 32px;
      font-weight: 700;

      @include media_small_style {
        font-size: 24px;
      }
    }
  }

  &-right {
    height: 100%;
    &__menu-bg {
      position: fixed;
      top: var(--header-height);
      left: 0;
      right: 0;

      height: 0;
      opacity: 0;
      visibility: hidden;
      background-color: var(--background-color);

      transition: 0.4s;
      #{$h}.toggled & {
        height: 100%;
        opacity: 1;
        visibility: visible;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 10px;

      #{$h}.toggled & {
        display: flex;
        position: fixed;
        top: var(--header-height);
        left: 0;
        flex-direction: column;
        width: 100vw;

        li {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid gray;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 0;
          margin-right: 0;
        }
      }

      li {
        margin-left: 5px;
        margin-right: 5px;

        a {
          opacity: 0.6;
          cursor: pointer;
          &.active {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }

      @include media_small_style {
        display: none;
      }
    }

    &__menu-toggler {
      display: none;
      height: 100%;
      margin-right: 5px;

      @include media_small_style {
        display: flex;
        align-items: center;
      }
    }
  }
}

// snippets
.snippets {
  &-card {
    min-height: 400px;
    @include brightenOnHover(0.7);

    &__title {
      display: flex;
      height: 50px;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      margin: 10px 0;
    }
    &__preview {
      height: 350px;
      border: 1px solid gray;
      padding: 4px 10px;
      overflow: hidden;
      * {
        width: 100%;
        line-height: 1.4;
        font-size: 12.14px;
        padding: 0 !important;
        overflow: hidden !important;
      }
    }
  }
}
