@import './scss/_common', './scss/_main-header', './scss/_prologue',
  './scss/_article-page', './scss/_footer', './scss/snippet';

// main (wrapping outlet, footer)
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
}
