:root {
  --main-color: rgba(10, 10, 10, 0.8);
  --main-color-hover: rgba(10, 10, 10, 1);
  --title-font: 'Roboto Slab', sans-serif;
  --main-border-radius: 10px;
  --section-gray: #f3f4f6;
  // font-family: 'Gowun Batang', 'Roboto Slob', sans-serif;
  font-family: sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: var(--main-color);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

// Common element settings
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: block;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
button {
  outline: none;
  border: none;
  padding: 0.8em 2em;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: var(--main-color);

  &:hover {
    color: var(--main-color-hover);
  }
}
h2 {
  font-family: var(--title-font);
  font-size: clamp(14px, 2vw, 32px);
  font-weight: 700;
  color: var(--main-color);
  line-height: 2;
}

// Common class
@mixin inner {
  max-width: 88%;
  margin: 0 auto;
}
.section {
  @include inner;
  border-radius: var(--main-border-radius);

  &.light-gray {
    background-color: var(--section-gray);
  }
}
.date {
  display: flex;
  align-items: center;
  font-size: clamp(10px, 2vw, 16px);
  gap: clamp(2px, 1vw, 10px);
}
.icon {
  font-size: clamp(10px, 2vw, 16px);
  cursor: pointer;
}

.card {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  height: 350px;
  header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: clamp(15%, 5vw, 30%);
    border-bottom: 1px solid var(--main-color);
    h3 {
      font-family: var(--title-font);
      font-size: clamp(14px, 2vw, 22px);
      font-weight: 700;
      color: var(--main-color);
    }
  }
  p {
    height: 50%;
    overflow: hidden;
    line-height: 2;
    // display: -webkit-box;
    // -webkit-line-clamp: 10;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis '[...]';
    padding: 5px 10px 0;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    color: var(--main-color);
  }
}
.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  &::before {
    content: '';
    display: block;
    border: 10px solid transparent;
    border-top-color: var(--main-color);
    border-right-color: var(--main-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    animation: loading 1s ease-in-out infinite;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

// Header
header.navigation {
  @include inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  a {
    display: flex;
    align-items: center;
    font-family: var(--title-font);
    gap: 10px;
    img {
      width: clamp(35px, 4vw, 100px);
    }
    h1 {
      font-size: clamp(20px, 4vw, 64px);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .icon {
    font-size: clamp(25px, 4vw, 50px);
  }
}

// Prolouge
.prologue-posts {
  @include inner;
  margin-top: 20px;
  margin-bottom: 16px;
  border-radius: var(--main-border-radius);
  padding: 0 5px;

  &.gray {
    background-color: var(--section-gray);
  }
  .header {
    font-family: var(--title-font);
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 700;
    color: var(--main-color);
    font-style: italic;
    line-height: 2;
  }

  .more-btn {
    display: block;
    width: 10em;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
    button {
      padding-left: 0;
      padding-right: 0;
      font-size: 1.2em;
      &::after {
        font-size: 0.8em;
        content: ' >';
      }
    }
  }
}
.error {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -15vw;
  width: 30vw;
  height: 20vh;
  background-color: rgba(255, 192, 203, 0.6);
  text-align: center;
  overflow: hidden;

  p {
    padding: 8px;
    margin-top: 10px;
    line-height: 1.4;
  }
}

// category
.category-posts {
  @include inner;
}

// post-page (category post)
.post-page {
  @include inner;
  display: flex;
  justify-content: space-between;

  .posts {
  }
  .post {
    flex-grow: 1;
  }
  .toc {
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0;
    padding-left: 20px;
    ul {
      position: sticky;
      top: 10px;
      left: 0;

      h4 {
        font-size: clamp(12px, 2vw, 16px);
        font-weight: 700;
        color: #000;
        line-height: 1.2;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.4);
      }

      li {
        @for $i from 1 through 6 {
          &.heading-#{$i} {
            font-size: clamp(12px, 2vw, 16px);
            font-weight: 500;
            color: var(--main-color);
            line-height: 1.2;
            padding-left: calc(5px *#{$i - 1});
          }
        }
      }
    }
  }
}

// Footer
footer {
  @include inner;
  margin-top: 120px;
  padding-bottom: 10px;
  border-top: 1px solid;
  address {
    .title-icon {
      display: flex;
      align-items: center;
      line-height: 2;
      span {
        font-size: clamp(2em, 2vw, 5em);
      }
    }

    .contents {
      display: flex;
      justify-content: space-between;
      padding: 0 1em;
      .email {
        display: flex;
        gap: 10px;
        align-items: center;
        a {
          text-align: center;
          font-size: clamp(1em, 2vw, 2em);
        }
        button {
          padding: 0;
          padding-top: clamp(0.5em, 1vw, 1em);
          span {
            font-size: clamp(1em, 2vw, 2em);
          }
          span.copied {
            color: rgb(0, 128, 0);
          }
        }
      }

      .icons {
        display: flex;
        gap: 10px;
        svg {
          width: clamp(1em, 2vw, 4em);
          border-radius: 50%;
        }
      }
    }
  }
  p {
    margin-top: 20px;
    font-family: var(--title-font);
    font-size: clamp(10px, 2vw, 16px);
    font-weight: 400;
    text-align: center;
    // text-transform: uppercase;
  }
}
