// post-page (category post)
.article-page {
  $nav-width: 300px;
  $aside-width: 200px;
  --post-page__contents-width: 1200px;
  --post-page__contents-padding: 60px;

  $media-large: calc($nav-width + 1200px + $aside-width + 150px);
  $media-medium: calc(1200px + $aside-width + 150px);
  $media-small: 770px;

  width: 100%;

  display: flex;

  align-items: flex-start;
  justify-content: space-between;
  word-break: break-all;

  nav {
    position: sticky;
    top: var(--header-height);
    z-index: 1;

    display: flex;

    flex-shrink: 0;
    max-width: $nav-width;
    max-height: calc(100vh - var(--header-height));
    padding-left: 10px;

    .nav-toggler,
    .nav-bg {
      visibility: hidden;
      opacity: 0;
      transition: 0.4s;
    }
    .nav-toggler {
      position: absolute;
      top: 0;
      left: 0;
    }
    .nav-bg {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: var(--background-color);
    }

    .nav__scroll-area {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      border-right: 1px solid var(--border-color);

      transition: 0.4s;

      .nav__contents-area {
        padding-right: 10px;
        .nav__contents {
          line-height: 1.3;
          display: flex;
          flex-direction: column;
          gap: 15px;
          .nav__contents-item {
            ul {
              li {
                a {
                  @include brightenOnHover(0.8);
                  &.active {
                    color: var(--highlight-color);
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .article {
    --title-font-size: 60px;
    max-width: var(--post-page__contents-width);
    flex-grow: 1;
    padding: 20px calc(var(--post-page__contents-padding));

    h1.title {
      font-size: var(--title-font-size);
      color: var(--font-title-color-bright);
      line-height: 1.5;
      word-break: break-all;
    }
    img.title-image {
      width: 100%;
      max-height: 470px;
      margin-bottom: 20px;
      object-fit: cover;

      border-radius: var(--main-border-radius);
      box-shadow: 0 0 10px 0 var(--highlight-color-8);
    }

    .contents {
      max-width: 100%;
      @for $i from 1 to 6 {
        h#{$i} {
          margin-top: calc(60px - #{$i * 5}px);
          margin-bottom: 20px;
          transition: 1s;
          &.active {
            color: var(--highlight-color-8);
          }
        }
      }
      ul {
        list-style-image: none;
        list-style-position: inside;
        list-style-type: revert;
        margin: 10px 0;
        padding: 2px 8px;
        li {
          padding: 2px 0;
        }
      }
      ol {
        list-style: decimal;
        li {
          margin-left: 1em;
        }
      }

      pre {
        margin: 10px 0;
        code {
          line-height: 1.4;
        }
      }

      p {
        margin: 1.5em 0;
        white-space: pre-wrap;
      }
      
      a {
        text-decoration: underline;
      }

      table {
        margin: 10px 0;
        table-layout: fixed;
        width: 90%;
        margin-bottom: 60px;
        tr {
          &:nth-child(2n) {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
        th,
        td {
          border: 1px solid #333333;
          padding: 5px;

          vertical-align: middle;
        }
        th {
          font-weight: 600;
          background-color: #281b10;
        }
        td {
          &:first-child {
            word-break: break-all;
          }
          line-height: 2;
          code.hljs {
            padding: 0;
          }
        }
      }

      blockquote {
        min-height: 50px;
        margin: 40px 0 40px 12px;
        padding-left: 1em;

        position: relative;

        display: flex;
        align-items: center;

        border-left: 5px solid #9b9b9b;

        &::before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;

          position: absolute;
          left: -14px;

          background-color: #9b9b9b;
          background-image: url('/quote.png');

          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;

          border-radius: 6px;
        }
      }
    }
  }
  aside {
    flex-shrink: 0;

    position: sticky;
    top: var(--header-height);
    right: 0;
    max-height: calc(100vh - var(--header-height));
    max-width: 200px;

    background-color: var(--background-color);

    .toc-toggler,
    .toc-bg {
      visibility: hidden;
      opacity: 0;
    }
    .toc-toggler,
    .toc__scroll-area {
      transition: 0.4s;
    }

    .toc-toggler {
      position: absolute;
      top: 0;
      left: 0;

      border: 1px solid var(--border-color);
      border-right: none;
      border-radius: 5px 0 0;
      .icon {
        font-size: 24px;
      }
    }
    .toc-bg {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--background-color);
    }

    .toc__scroll-area {
      overflow-y: auto;
      width: 100%;
      height: 100%;
      padding: 5px;
      .toc__contents-area {
        h4 {
          line-height: 1.2;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
        ul {
          li {
            display: flex;
            align-items: center;
            gap: 8px;

            @for $i from 1 through 6 {
              &.heading-#{$i} {
                a {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 1.3;
                  text-indent: calc(5px *#{$i - 1});
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }

            &::before {
              content: '';
              display: block;
              height: 10px;
              box-sizing: border-box;
              border: 3px solid var(--highlight-color);
              transition: opacity 0.4s;
              opacity: 0;
            }
            &.visible::before {
              opacity: 1;
            }

            a {
              @include brightenOnHover(0.8);
            }
          }
        }
      }
    }

    transition: 0.4s;
  }

  @media (max-width: $media-large) {
    nav {
      top: var(--header-height);
      left: 0;
      width: 0;

      .nav__scroll-area {
        border: 1px solid var(--border-color);
        border-left: none;
        border-bottom: none;

        visibility: hidden;
        opacity: 0;
        transform: translate(-100%, 0);
      }
      .nav-toggler {
        position: absolute;
        top: 0;
        left: 0;

        border: 1px solid var(--border-color);
        border-left: none;
        border-radius: 0 0 5px;

        visibility: visible;
        opacity: 1;

        .icon {
          font-size: 24px;
        }
      }

      &.nav--open {
        padding-left: 10px;
        width: $nav-width;

        .nav-toggler {
          left: $nav-width;
        }
        .nav-bg {
          visibility: visible;
          opacity: 0.7;
        }
        .nav__scroll-area {
          transform: translate(0, 0);
          visibility: visible;
          opacity: 1;
          background-color: var(--background-color);
        }
      }
    }
  }
  @media (max-width: $media-medium) {
    --post-page__contents-width: 800px;
    // justify-content: space-around;
    aside {
      top: var(--header-height);
      right: 0;
      width: 0;

      .toc-toggler {
        left: auto;
        right: 0;
        visibility: visible;
        opacity: 1;
      }
      .toc__scroll-area {
        visibility: hidden;
        opacity: 0;
        transform: translate(100%, 0);
      }

      &.toc--open {
        width: 200px;
        .toc__scroll-area {
          border: 1px solid var(--border-color);
          border-bottom: none;
          visibility: visible;
          opacity: 1;
          transform: translate(0, 0);
        }
        .toc-toggler {
          right: 200px;
        }
        .toc-bg {
          visibility: visible;
          opacity: 0.7;
        }
      }
    }
  }
  @media (max-width: $media-small) {
    --post-page__contents-width: 330px;
    --post-page__contents-padding: 6px;
  }
}
