.snippets {
  width: 100%;
  .snippets__search {
    margin-bottom: 30px;
    padding: 0 8px;
  }
  .snippets__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .card {
      --card-height: auto;
    }
    p {
      text-align: center;
    }
  }
}
